<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kvitter - Settings</title>
</head>
<head th:replace="fragments/head :: head"></head>

<body>

<div th:switch="${authorize.getIsAuthorized()}">
    <div th:case="false">
        <div th:replace="fragments/nav :: publicnav"></div>
    </div>
    <div th:case="true">
        <div modelAttribute="user"
             th:replace="fragments/nav :: privatenav (username=${user.firstName}+' '+${user.lastName}, roles=${user.roles})"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 mt-3">
            <h4>Settings</h4>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

            <form th:action="@{/settings/saveprofile}" method="POST">
                <input type="hidden" th:value="${usertoedit.id}" name="id">
                <input type="hidden" th:value="${usertoedit.password}" name="password">
                <input type="hidden" th:value="${usertoedit.roles}" name="roles">
                <input type="hidden" th:value="${usertoedit.email}" name="email">


                <h5 class="mt-3">Change Username</h5>
                <div class="input-groupe">
                    <input type="text" name="username" th:value="${usertoedit.username}" class="form-control" id="username"></input>
                </div>

                <h5 class="mt-3">Change name</h5>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="name">Name</span>
                    </div>
                    <input id="firstname" type="text" name="firstname" class="form-control" th:value="${usertoedit.firstName}">
                    <input id="lastname" type="text" name="lastname" class="form-control" th:value="${usertoedit.lastName}">
                </div>

                <h5 class="mt-3">Change description</h5>
                <div class="input-groupe">
                    <textarea name="description" th:text="${usertoedit.description}" class="form-control" id="description" rows="3"></textarea>
                </div>
                <div class="input-group-prepend mt-3">
                    <button class=" btn btn-outline-secondary btn-sm" type="submit">Save profile</button>
                </div>
            </form>

            <h5 class="mt-3">Change password</h5>
            <form th:action="@{/admin/changepassword}" method="POST">
                <input type="hidden" th:value="${usertoedit.id}" name="id">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="oldPasswords">New Password</span>
                    </div>
                    <input id="password" type="password" name="newPassword" class="form-control" placeholder="New password">
                    <input id="passConfirm" type="password" name="newPasswordConfirm" class="form-control" placeholder="Confirm password">
                </div>
                <div class="input-group-prepend mt-3">
                    <button class=" btn btn-outline-secondary btn-sm" type="submit">Save new password</button>
                </div>
            </form>
            <div class="mt-3" th:unless="!${#httpServletRequest.getParameter('saved') == ''}">
                <p>New password saved</p>
            </div>

            <h5 class="mt-3">Delete account</h5>
                <a class="btn btn-outline-danger btn-sm" th:href="'/admin/delete/'+${usertoedit.id}" role="button">Delete account</a>


        </div>
        <div class="col-sm-2"></div>
    </div>

</div>
</body>
</html>