<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kvitter</title>
</head>
<head th:replace="fragments/head :: head"></head>

<body>

<div th:switch="${authorize.getIsAuthorized()}">
    <div th:case="false">
        <div th:replace="fragments/nav :: publicnav"></div>
    </div>
    <div th:case="true">
        <div modelAttribute="user"
             th:replace="fragments/nav :: privatenav (username=${user.firstName}+' '+${user.lastName}, roles=${user.roles})"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 my-3">
            <form th:action="@{/app/post}" modelAttribute="tweet" method="post">
                <div class="input-group mb-3 mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Whats on your mind?</span>
                    </div>
                    <input type="text" name="message"  class="form-control" aria-label="message" aria-describedby="basic-addon1">
                </div>
                <button  class="btn btn-primary">Kvitt</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 my-3">
            <div th:each="tweet : ${tweets}">


                <div th:if="${tweet.hasRetweet()} == false">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title" style='display:inline'><a class="text-dark" style='display:inline' th:href="${tweet.getUsername()}" th:text="'@'+${tweet.getUsername()}"></a></h5>
                            <small style='display:inline' th:text="'  •  '+${tweet.tweetDate()}"></small>
                            <p class="card-text" th:text="${tweet.message}"></p>
                            <a th:href="@{/app/retweet/}+${tweet.id}" class="btn btn-primary">Retweet</a>
                        </div>
                    </div>
                    <div th:if="${tweet.imageUrl != null}">
                        <img class="card-img-bottom" th:src="${tweet.imageUrl}" alt="Card image cap">
                    </div>
                </div>


                <div th:if="${tweet.hasRetweet()} == true">
                    <div class="card mb-3">
                        <div class="card-body">
                            <small class="card-title" style='display:inline'><a class="text-dark" style='display:inline' th:href="${tweet.getUsername()}" th:text="'@'+${tweet.getUsername()}+' retweeted'"></a></small>
                            <div class="card mt-3">
                                <div class="card-body">
                                    <h5 class="card-title" style='display:inline'><a class="text-dark" style='display:inline' th:href="${tweet.retweet.getUsername()}" th:text="'@'+${tweet.retweet.getUsername()}"></a></h5>
                                    <small style='display:inline' th:text="'  •  '+${tweet.retweet.tweetDate()}"></small>
                                    <p class="card-text" th:text="${tweet.retweet.message}"></p>
                                    <a th:href="@{/app/retweet/}+${tweet.retweet.id}" class="btn btn-primary">Retweet</a>

                                </div>

                                <div th:if="${tweet.retweet.imageUrl != null}">
                                    <img class="card-img-bottom" th:src="${tweet.retweet.imageUrl}" alt="Card image cap">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


<!--    <div class="row">-->
<!--        <div class="col-sm-8 my-3">-->
<!--            <div th:each="tweet : ${tweets}">-->
<!--                <div class="card mb-3">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title" style='display:inline'><a class="text-dark" style='display:inline' th:href="${tweet.getUsername()}" th:text="'@'+${tweet.getUsername()}"></a></h5>-->
<!--                        <small style='display:inline' th:text="'  •  '+${tweet.tweetDate()}"></small>-->
<!--                        <p class="card-text" th:text="${tweet.message}"></p>-->
<!--                        <a th:href="@{/app/retweet/}+${tweet.id}" class="btn btn-primary">Retweet</a>-->
<!--                    </div>-->

<!--                    <div th:if="${tweet.hasRetweet()}">-->
<!--                        <div class="card mb-3">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title" style='display:inline'><a class="text-dark" style='display:inline' th:href="${tweet.retweet.getUsername()}" th:text="'@'+${tweet.retweet.getUsername()}"></a></h5>-->
<!--                                <small style='display:inline' th:text="'  •  '+${tweet.retweet.tweetDate()}"></small>-->
<!--                                <p class="card-text" th:text="${tweet.retweet.message}"></p>-->
<!--                            </div>-->

<!--                            <div th:if="${tweet.retweet.imageUrl != null}">-->
<!--                                <img class="card-img-bottom" th:src="${tweet.retweet.imageUrl}" alt="Card image cap">-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                    <div th:if="${tweet.imageUrl != null}">-->
<!--                        <img class="card-img-bottom" th:src="${tweet.imageUrl}" alt="Card image cap">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
</body>
</html>