<div th:fragment="post (tweet)">

<form th:action="@{/followers/post}" modelAttribute="tweet" method="post" enctype="multipart/form-data">

        <div class="input-group mb-3">
            <input type="text" name="message" maxlength="140" class="form-control" placeholder="What's on your mind?" aria-label="message" aria-describedby="basic-addon2">
        </div>
        <button class="btn btn-outline-secondary btn-sm" type="button" onclick="$('#myInput').click();">Upload Image</button>
        <button class="btn btn-outline-secondary btn-sm" type="submit">Post</button>
        <input class="text-left" id="myInput" type="file" name="img" accept="image/x-png,image/jpeg,image/jpg" style="visibility:hidden" />


    </form>
</div>